{
	"root": true,
	"env": { "es2020": true, "browser": true, "node": true },
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:prettier/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking"
	],
	"parserOptions": { "ecmaFeatures": { "jsx": true }, "sourceType": "module", "project": ["tsconfig.json"] },
	"plugins": ["react", "formatjs", "prettier", "@typescript-eslint"],
	"rules": {
		"no-var": "error",
		"prefer-const": "error",
		"react/jsx-uses-react": "off",
		"react/react-in-jsx-scope": "off",
		"formatjs/no-offset": "error",
		"formatjs/enforce-default-message": ["error", "literal"],
		"formatjs/enforce-id": ["error", { "idInterpolationPattern": "[contenthash:5]" }],
		"formatjs/no-multiple-whitespaces": ["error"]
	},
	"settings": {
		"react": { "version": "detect" }
	}
}
